@import "../../../assets/css/color_constants.scss";

.account-container {
    margin: 20px 20vw;
    min-height: 50vh;

    .tabs-product-view {
        .nav-tabs .nav-link.active {
            background-color: $primary-color;
            color: $text-color;
            cursor: pointer;
            border-radius: 0px;
            padding: 7px;
        }

        .nav-tabs .nav-link {
            color: #444;
        }
    }


    @media (max-width: 460px) {
        margin: 15px 5vw;
        min-height: 65vh;

        .tabs-product-view {
            .nav-tabs .nav-link,.nav-link.active {
                font-size: 14px;
            }
        }
    }
}

.info-section {
    img {
        height: 250px;
        width: 250px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }

    img:hover {
        transform: scale(1.1);
    }

    @media (max-width: 460px) {

        font-size: 90%;

        img {
            height: 150px;
            width: 150px;
        }
    }
}
