$primary-color: #e9611e;
$text-color: #FFFFFF;
$primary-border-color:#ddd;
$primary-info-color:#3d86d4;
$primary-success-color:#25881a;
$primary-error-color:hsl(0, 100%, 60%);
$primary-success-color-dark:#009933