@import "../../../../assets/css/color_constants.scss";

.viewProductsByCategoryContainer{
    margin: 10px 0px;
    min-height: 60vh;
}
.filter-container{
    margin-top: -30px;
    padding: 0px 15px;


    .label{
        color:$primary-color;
        font-weight: 600;
    }
}

