body {
  font-family: Montserrat, sans-serif;
}

.searchForm {
  display: flex;
  width: 700px;
  justify-content: end;

  .row {
    display: flex;
    justify-content: end;
  }
  
  .input_nav:first-child{
    width:300px
  }
}

.input_button {

  .input_button {
    color: red;
  }

}

.navbar-brand {
  background-image: url("../../assets/images/icons/Shopee Vertical.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.navbar-nav .nav-item:hover {
  background-color: #e9611e;
  color: white;
  cursor: pointer;
}

.navbar-nav .nav-item .nav-link {
  color: white
}

.navbar-nav .nav-item .active {
  background-color: #e9611e;
  border-radius: 5px;
}

.dropdown-menu .dropdown-item:active {
  background-color: white;
  color: black;
}

.cart-item-count {
  position: absolute;
  // top: -2px;
  // right: 1px;
  margin-top: -10px;
  color: rgb(33, 37, 41);
  background: white;
  border-radius: 50%;
  padding: 0px 6px;
  font-weight: 600;
}

.navbar-toggler {
  padding: 5px !important;
}


@media (max-width: 460px) {
  // .cart-item-count {}

  .navbar-nav .nav-item .nav-link .active {
    padding-left: 5px;
  }
}

@media (max-width: 460px) {
  .input_nav {
    width: fit-content;
  }
}

@media (max-width: 460px) {
  .searchForm {
    width: auto;


    .input_nav:first-child{
      width: auto;
    }
  }
}

@media (max-width: 400px) {
  .input_nav:first-child {
    width: auto;
    margin-left:-10px
  }  
}
